/* My Starter Template */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Mono', monospace;
  line-height: 1.6;
  background: black;  
  color: rgb(255, 138, 183);
  margin: 0 auto;
  padding: 0;
  max-width: 900px;
}

/* Global Typography */

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

form,
textarea {
  font-size: 1rem;
}

button {
  display: block;
  font-size: 1.2rem;
  padding: 0.5em 1em;
  border: none;
  background-color: aquamarine;
  color: #0a2472;
  font-family: 'Space Mono', monospace;
}

/* Section Container Positions, Spacing, Utilities */

header {
  text-align: center;
  margin: 1em auto;
}

.section {
  padding: 1em 1em;
  width: 100%;
  margin: 1em auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 1em 1em;
}

.container-row {
  width: 90%;
  margin: 0 auto;
}

/* Button Standard */

.btn-main,
.btn-light,
.btn-dark {
  display: block;
  padding: 0.6rem 2rem;
  margin: 1rem;
  transition: all 0.1s;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.btn-main {
  color: lightgoldenrodyellow;
  background-color: lightcoral;
}

.btn-light {
  color: #0a2472;
  background-color: white;
}

.btn-dark {
  color: white;
  background-color: #0a2472;
}

button[class^='btn-']:hover,
a[class^='btn-']:hover,
input[class^='btn-']:hover {
  background-color: lightgoldenrodyellow;
  color: lightcoral;
  font-weight: 700;
  transform: scale(1.08);
}

/* Project Starts Here */

/* Journal Entry Section */

/* Title */

.entry-text-title {
  width: 20em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  background-color: lightgoldenrodyellow;
  font-family: 'Space Mono', monospace;
}

.entry-text-title:focus {
  outline-color: lightcoral;
  font-family: 'Space Mono', monospace;
  color: lightcoral;
  font-size: 1rem;
}

.entry-text-title::placeholder {
  color: lightcoral;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
}

.entry-text-title::-ms-value {
  color: lightcoral;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
}

/* Text Box */

.container-row-journal {
  display: flex;
  justify-content: center;
}

.entry-form {
  max-width: 100%;
  margin: 0 auto;
}

.journal-label {
  display: block;
  line-height: 1.6;
  font-size: 1.2rem;
  font-weight: 700;
}

.entry-text-box {
  width: 100%;
  height: 20em;
  margin: 1em auto;
  padding: 1em;
  border-radius: 2px;
  border: unset;
  background-color: lightgoldenrodyellow;
  font-family: 'Space Mono', monospace;
}

@media (min-width: 769px) {
  .entry-text-box {
    width: 40em;
    height: 20em;
    margin: 1em auto;
    padding: 1em;
    border-radius: 2px;
    border: unset;
    background-color: lightgoldenrodyellow;
    font-family: 'Space Mono', monospace;
  }
}

.entry-text-box:focus {
  outline-color: lightcoral;
  font-family: 'Space Mono', monospace;
  color: lightcoral;
  font-size: 1rem;
}

.entry-text-box::placeholder {
  color: lightcoral;
  font-family: 'Space Mono', monospace;
  font-size: 1rem;
}

.entry-submit-btn {
  margin: 0;
}

/* Journal Results Section */

.sectionEntryResults {
  width: 100%;
  margin: 0 auto;
}

.entryResultRow {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin: 1em auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.single-entry-div {
  max-width: 100%;

  margin: 1em auto;
  padding: 1em 1em;
}

.single-entry-date {
  background-color: lightgoldenrodyellow;
  width: 100%;
}

.heading-results {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: lightgoldenrodyellow;
}

.description {
    font-size: 12px;
}

.collapsible {
    background-color: rgb(242, 212, 223);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
    border-radius: 8px;
  }

.active, .collapsible:hover {
    background-color: rgb(187, 86, 86);
}

.content {
    display: none;
    overflow: hidden;
}

.collapsible:after {
    content: '\25BC'; /* Unicode character for down arrow */
    font-size: 20px;
    color: black;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\25B2"; /* Unicode character for up arrow */
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: lightgoldenrodyellow; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: coral; /* Coral background */
    cursor: pointer; /* Cursor on hover */
}
  
.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    cursor: pointer; /* Cursor on hover */
}